* {
  background-color: #ffffff; }

.card-group {
  padding: 29px;
  margin: 25px; }

.col {
  padding: 29px;
  margin: 25px; }

.navbar {
  padding: 0;
  margin: 0; }
  .navbar a {
    color: red; }
  .navbar img {
    margin-left: -45px;
    margin-right: -50px; }

.card {
  max-width: 300px;
  margin: auto; }

.carousel-inner {
  max-width: 100%;
  padding-top: 100px;
  text-align: center;
  align-items: center;
  font-size: 100%; }
  .carousel-inner image {
    width: 100%; }
  .carousel-inner p {
    display: flex;
    font-size: 50px;
    margin: 100px;
    padding: 100px; }
