* {
  background-color: rgb(255, 255, 255);
 

}



.card-group {

  padding: 29px;
  margin: 25px;




}





.col {

  padding: 29px;
  margin: 25px;

}

.navbar {

  padding: 0;
  margin: 0;
  display: block;




 

  }

  img {

    margin-left: -45px;
    margin-right: -50px;
    





  }
 

.card {
  max-width: 300px;
  margin: auto;
}





body {
  background-color: black;
}

.carousel-inner {

  max-width: fit-content;

}

.carousel-caption {

  position: relative;
  max-width: fit-content;
  margin-top: 1.5rem;



}

.carousel-item {


  max-width: fit-content;
  max-height: fit-content;

  margin-top: 1rem;
}



p {
  position: relative;
  color: hsl(0, 71%, 46%);
  font-size: 12px;
  display: block;
  align-content: flex-end
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;

  height: 100%;
  /* Full height */

}

li a {
  display: block;
  background-color: black;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: sans-serif
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}




.navbar-nav {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 12px;
  padding: 0;
  margin: 0;
 
}




.dropdown-item {

  margin: 0;
  padding: 0;







}

.container-fluid li {

  max-width:  100vh;
  padding: 0;
  font-family: cursive

 
}

.dropdown-menu li {

  text-decoration-color: #000;

}

.card-body h5 {

  color: blueviolet;
  font-size: large;
}

.card-body p {

  color: black;
  font-family: sans-serif;
  animation-duration: 3s;
  animation-name: slidein;
}



 

@keyframes slidein {
  from {
    margin-left: 300%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 300%;
  }
}

.container-fluid a {

  color: rgb(226, 95, 43);
  display: flex;
 
  text-align: center;
 
}
  
 

.container-fluid ul {

 border-style:hidden;
 
}

 a:hover {
  background-color: #555;
  color: white;
}

 
.container-fluid a:hover

{
  background-color: #000000;
  color:#000000;
}

